<!doctype html>
<html lang="en">

 <head>
  <meta charset="UTF-8">
  <title> 창업 Hot Place </title>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/earlyaccess/nanumgothic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
 <link rel=stylesheet href="{{ url_for('static',filename='css/index.css') }}">



 </head>
 
 <body>


	<div id="page-wrapper">

		<div id = "top">
			<div id="header">
				<a href="{{ url_for('index') }}">  <h1>Hot Place </h1> <a> 
			</div>

			<div id="nav">
				<ul class="menu">
					 <a href="{{ url_for('index') }}"> <li class="menu-item">  Map  </li> <a>
					 <a href="{{ url_for('community') }}"> <li class="menu-item">  Community </li>  <a>
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}"> <li class="menu-item">  Login </li>  </a>
    {% else %}
    <a href="{{ url_for('logout') }}"> <li class="menu-item">  Logout </li>  </a>
    {% endif %}
    <a href="{{ url_for('join') }}"> <li class="menu-item">  Register </li>  <a>

    <a href="{{ url_for('getBookmarkList') }}"> <li class="menu-item">  Bookmark </li>  <a>
</ul>
			</div>

		</div>


			
		<div id="content">
            {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}

            
            {% endblock %} 
		
        </div>


		<div id="footer">
			<H5> Created By PythonProject7 </H5>
		</div>

	</div>
  
 </body>
</html>
