{% extends "index.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
<script language='javascript'>
    alert("{{ message }}");
</script>
{% endfor %}


<form class="form-4" action="{{ url_for('join') }}" method=post>
    <h1>Sign up</h1>
    <p>
        <input type="text" name="id" placeholder="ID" required>
    </p>
    <p>
        <input type="password" name='passwd' placeholder="Password" required>
    </p>
    <p>
        <input type="text" name='nick' placeholder="Nick name" required>
    </p>
    <p>
        <input type="submit" name="submit" value="Sign up">
    </p>
</form>
{% endblock %}
