{% extends "index.html" %}
{% block body %}




<script language='javascript'> 
  function mySubmit(index) {
    alert("aa");
    if (index == 1) {
      document.myForm.action="{{ url_for('map') }}";
    }
    if (index == 2) {
      document.myForm.action="{{ url_for('addBookmark') }}";
    }
    document.myForm.submit();

  }

  window['hidden'].location.reload(true);
</script>



			
			<div id="map" style="border:1px solid #000;"></div>


			<script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=7f988a1d3bc4b0767fef224ef85d1743"></script>





			<script type="text/javascript">

            function setOnMapMarker(bounds, pointList, infoList){

            
                oMap.clearOverlay();
                var minposX = bounds[0].x;
                var maxposX = bounds[1].x;
                var minposY = bounds[1].y;
                var maxposY = bounds[0].y;

            
                var oOffset = new nhn.api.map.Size(14, 37);

                var oIcon1 = new nhn.api.map.Icon( "{{ url_for('static',filename='img/rankTop.png') }}",  {width : 80, height : 80} , oOffset);
                var oIcon2 = new nhn.api.map.Icon( "{{ url_for('static',filename='img/rankMiddle.png') }}",  {width : 50, height : 50}, oOffset);
                var oIcon3 = new nhn.api.map.Icon( "{{ url_for('static',filename='img/rankExtra.png') }}",  {width : 20, height : 20}, oOffset);


            


                 var rank =0;   




                for ( var i =0, len=pointList.length; i<len; i++){

                    var point = pointList[i].toLatLng();


                    if(minposX < point.getX() && point.getX() < maxposX &&
                    minposY < point.getY() && point.getY() < maxposY ){


                        var oMarker;

                        if( rank < 1){

                            oMarker = new nhn.api.map.Marker(oIcon1, { title : '1위' }); 
                        }else if( rank>1 && rank<5){
                            oMarker = new nhn.api.map.Marker(oIcon2, { title : '2위' }); 
                        }else{
                            oMarker = new nhn.api.map.Marker(oIcon3, { title : '3위' }); 
                            
                        }

                        oMarker.setTitle(infoList[i].toString());
                        oMarker.setPoint(point);
                        oMap.addOverlay(oMarker);

                        rank++;
                    }


                }



            }


                var oSeoulCityPoint = new nhn.api.map.TM128(307677,549510);   

                {% if point %}
                     var oSeoulCityPoint = new nhn.api.map.TM128({{point.x}}, {{point.y}});
 
                {% endif %}

                  

               
                var defaultLevel = 11; // 줌 레벨 11 
                var oMap = new nhn.api.map.Map(document.getElementById('map'), { 
                                                point : oSeoulCityPoint,
                                                zoom : defaultLevel,
                                                enableWheelZoom : true,
                                                enableDragPan : true,
                                                enableDblClickZoom : false,
                                                mapMode : 0,
                                                activateTrafficMap : false,
                                                activateBicycleMap : false,
                                                minMaxLevel : [ 1, 14 ]});
                var oSlider = new nhn.api.map.ZoomControl();
                oMap.addControl(oSlider);
                oSlider.setPosition({
                        top : 10,
                        left : 10
                });

                var oMapTypeBtn = new nhn.api.map.MapTypeBtn();
                oMap.addControl(oMapTypeBtn);
                oMapTypeBtn.setPosition({
                        bottom : 10,
                        right : 80
                });
                
                var oThemeMapBtn = new nhn.api.map.ThemeMapBtn();
                oThemeMapBtn.setPosition({
                        bottom : 10,
                        right : 10
                });
                oMap.addControl(oThemeMapBtn);


              
            
                var pointList = new Array();
                var infoList = new Array();
                // 쿼리에서 온 거 마커리스트 생성
                {% for entry in entries %}

                    var point = new nhn.api.map.TM128({{entry.mapx}}, {{entry.mapy}});

                    pointList.push(point); 

                    var str = "10대 남자: "+{{ entry.man10 }}+
                            "<br>20대 남자:"+{{ entry.man20 }}+
                            "<br>30대 남자:"+{{ entry.man30 }}+
                            "<br>40대 남자:"+{{ entry.man40 }}+
                            "<br>50대 남자:"+{{ entry.man50 }}+
                            "<br>10대 여자:"+{{ entry.woman10 }}+
                            "<br>20대 여자:"+{{ entry.woman20 }}+
                            "<br>30대 여자:"+{{ entry.woman30 }}+
                            "<br>40대 여자:"+{{ entry.woman40 }}+
                            "<br>50대 여자:"+{{ entry.woman50 }};

                    infoList.push(str);

                {% endfor %} 


                // 마커 추가 함수
                setOnMapMarker(oMap.getBound(), pointList, infoList);




                // 인포윈도우

                var oInfoWnd = new nhn.api.map.InfoWindow();
                 oInfoWnd.setVisible(false);
                 oMap.addOverlay(oInfoWnd);
                 
                  
                  oInfoWnd.setPosition({
                      top : 20,
                      left :20
                  });





                oInfoWnd.attach('changeVisible', function(oCustomEvent) {
                        if (oCustomEvent.visible) {
                                oLabel.setVisible(false);
                        }
                });
                
               


               oMap.attach('mouseenter', function(oCustomEvent) {

                        var oTarget = oCustomEvent.target;
                        // 마커위에 마우스 올라간거면
                        if (oTarget instanceof nhn.api.map.Marker) {
                                var oMarker = oTarget;
                                oLabel.setVisible(true, oMarker); // - 특정 마커를 지정하여 해당 마커의 title을 보여준다.
                        }
                });

                oMap.attach('mouseleave', function(oCustomEvent) {

                        var oTarget = oCustomEvent.target;
                        // 마커위에서 마우스 나간거면
                        if (oTarget instanceof nhn.api.map.Marker) {
                                oLabel.setVisible(false);
                        }
                });


                oMap.attach('click', function(oCustomEvent) {
   
                        var oPoint = oCustomEvent.point;
                        var oTarget = oCustomEvent.target;
                        oInfoWnd.setVisible(false);

                        // 마커 클릭하면
                        if (oTarget instanceof nhn.api.map.Marker) {
                                // 겹침 마커 클릭한거면
                                // if (oCustomEvent.clickCoveredMarker) {
                                //         return;
                                // }
                              

                               
                                oInfoWnd.setContent('<DIV style="border-top:1px solid; border-bottom:2px groove black; border-left:1px solid; border-right:2px groove black;margin-bottom:1px;color:black;background-color:white; width:auto; height:auto;">'+
                                        '<span style="color: #000000 !important;display: inline-block;font-size: 12px !important;font-weight: bold !important;letter-spacing: -1px !important;white-space: nowrap !important; padding: 2px 5px 2px 2px !important">' + 
                                         oTarget.getTitle()
                                        +'<span></div>');


                                oInfoWnd.setPoint(oTarget.getPoint());
                                //oInfoWnd.setPosition({right : 15, top : 30});
                                 oInfoWnd.setPosition({
                                      top : 20,
                                      left :20
                                  });


                                oInfoWnd.setVisible(true);
                                oInfoWnd.autoPosition();
                                


                                
                        }else{
                            setOnMapMarker(oMap.getBound(), pointList, infoList);

                        }

                        oMap.addOverlay(oInfoWnd);
                      
                       
                });


                oMap.attach('mousewheel', function(oCustomEvent) {

                    setOnMapMarker(oMap.getBound(), pointList, infoList);
                    oMap.addOverlay(oInfoWnd);
                        
                });

            


        	</script>

        <div id="select_box">

           <form name='myForm' method='POST' enctype='multipart/form-data'>
                
                <input type='hidden' name='clinic_id' value="<?=$clinic_id?>"  > <br>

                <div id='map_loc'>
                    {% if data %}
                        검색할위치: <input id='loc' type="text" name="addr" value={{ data.addr }}> 
                    {% else %}
                        검색할위치: <input id='loc' type="text" name="addr" > 
                    {% endif %}
               </div>

                <div id='map_sex'>
                    남/녀 선택 :
                    <input type="checkbox" name="sex" value="man">남자
                    <input type="checkbox" name="sex" value="woman">여자
                </div>

            

                <div id='map_age'>
                    연령대 선택 : <br>


                    {% if data %}
                          {% for i in range(5) %}
                            {{ i+1 }}0대: <input type="text" name="age[]" maxlength="3" size="3" value={{ data.age[i] }}>명 이상 <br>
                        {% endfor %}
                    {% else %}
                        {% for i in range(5) %}
                            {{ i+1 }}0대: <input type="text" name="age[]" maxlength="3" size="3" value=0>명 이상 <br>
                        {% endfor %}
                  
                    {% endif %}
                    

                </div>

                <div id='map_month'>
                    월 선택 : <br>
                    <input type="checkbox" name="month" value="1">1월
                    <input type="checkbox" name="month" value="2">2월
                    <input type="checkbox" name="month" value="3">3월
                    <input type="checkbox" name="month" value="4">4월
                    <input type="checkbox" name="month" value="5">5월
                    <input type="checkbox" name="month" value="6">6월<br>
                    <input type="checkbox" name="month" value="7">7월
                    <input type="checkbox" name="month" value="8">8월
                    <input type="checkbox" name="month" value="9">9월
                    <input type="checkbox" name="month" value="10">10월
                    <input type="checkbox" name="month" value="11">11월
                    <input type="checkbox" name="month" value="12">12월

                </div>
    

              

                <div id='map_time'>

                시간 선택 : <br>
                    <input type="checkbox" name="time" value="afternoon">점심: 12시~1시
                    <input type="checkbox" name="time" value="evening">저녁: 7시~8시
                </div>
            

        <div style="margin: 0 auto; witdh: 100%; ">          
            <input id="search" type="button" value="검색" onclick='mySubmit(1)' />
            <input id="addBookmark" type="button" value="북마크 추가" onclick='mySubmit(2)' />
        </div>

        <!--     <input type='submit' value="검색"> 
            <input type='submit' value="검색"> --><br>
            </form>

        </div>

<script language="javascript">

    // 사용자가 택한 값을 디폴트로 다시 설정해주는 곳...

    {% if data %} 

        var sex = document.getElementsByName("sex");
        var age = document.getElementsByName("age[]");
        var month = document.getElementsByName("month");
        var time = document.getElementsByName("time");
            
        // 성별체크 
        {% if data.sex %}
            {% for temp in data.sex %}
                {% if temp =="man" %} sex[0].checked= true; 
                {% elif temp =="woman" %} sex[1].checked= true;
                {% endif %}
            {% endfor %}
        {% endif %}

        // 월 체크 
        {% if data.month %}
            {% for temp in data.month %}
                month[{{temp}}-1].checked= true; 
            {% endfor %}
        {% endif %}

          // 시간  체크 
        {% if data.time %}
            {% for temp in data.time %}
                {% if temp =="afternoon" %} time[0].checked= true; 
                {% elif temp =="evening" %} time[1].checked= true;
                {% endif %}
            {% endfor %}
        {% endif %}


    {% endif %}


</script>



        
{% endblock %}