{% extends "community.html" %}

{% block board %}
{% for entry2 in entries2 %}
<ul class=entries>
<h1>

{{ entry2.category }} 
{% if page!="2" and page!="4" %} {{ entry2.area }} {% endif %}
{{ entry2.year }}-{{ entry2.month }}-{{ entry2.day }} 


{{ entry2.title }} 
{{ entry2.content }} 
{{ entry2.userid }}

</h1>
</ul>
{% if session.logged_in %}
{% if page=="1" %}
	 <a href="{{ url_for('delpost',page=1,num=entry2.num) }}"><input type=button value="글삭제"></a>
	 {% elif page=="2" %}
	 <a href="{{ url_for('delpost',page=2,num=entry2.num) }}"><input type=button value="글삭제"></a>
	 {% elif page=="3" %}
	 <a href="{{ url_for('delpost',page=3,num=entry2.num) }}"><input type=button value="글삭제"></a>
	 {% elif page=="4" %}
	 <a href="{{ url_for('delpost',page=4,num=entry2.num) }}"><input type=button value="글삭제"></a>
	 {% endif %}
{% endif %}

{% endfor %}


<CENTER>
<ul class=entries>
	<table width=900 border=0 cellspacing =0>
   		<tr>
   			<th width=50>writer</th>
   			<th width=100>content</th>
   			<th width=50>date</th>

   		</tr>
   		{% for entry in entries3 %}

   		<tr>
   			<td style="color:#6B66FF;">{{ entry.userid }}</td>
   			<td style="color:#F361A6;">{{ entry.content}}</td>
   			<td style="color:#6F6F6F;font-weight: lighter;">{{ entry.year }}-{{ entry.month }}-{{ entry.day }}</td>
   		</tr>

		{% else %}
		<li><em>댓글이 없습니다.</em></li>
		{% endfor %}
	</table>
	</ul>
	
	<div class=addreply>
{% if page=="1" %}
<form action="{{ url_for('addreply',page=1,wnum=num) }}" method=post class=addreply> <dl>
{% elif page=="2" %}
<form action="{{ url_for('addreply',page=2,wnum=num) }}" method=post class=addreply> <dl>
{% elif page=="3" %}
<form action="{{ url_for('addreply',page=3,wnum=num) }}" method=post class=addreply> <dl>
{% elif page=="4" %}
<form action="{{ url_for('addreply',page=4,wnum=num) }}" method=post class=addreply> <dl>
{% endif %}


	<dt>댓글 <input type=text size=100 name=content>
	<dt><input type=submit value=등록>
 </form>
</div>
</CENTER>

{% endblock %} 